---
import Layout from '../layouts/Layout.astro';
import Presentation from '../components/Presentation.astro';
import InformationAndPlace from '../components/InformationAndPlace.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Cumpleaños de Isis">
	<main class="customer">
		<Presentation />
		<InformationAndPlace />
		<Footer />
	</main>
</Layout>

<style>
	.customer {
		background-color: #f8ebeb;
	}
</style>

