---
import Layout from '../layouts/Layout.astro';
import Presentation from '../components/Presentation.astro';
import InformationAndPlace from '../components/InformationAndPlace.astro';
import Footer from '../components/Footer.astro';

---

<Layout 
	description="¡Te invitamos a celebrar el cumpleaños de Isis Araujo!"
	title="Invitación de cumpleaños | Isis Araujo">
	<main class="customer">
		<Presentation />
		<InformationAndPlace />
		<Footer />
	</main>
</Layout>

<style>
	.customer {
		background-color: #f8ebeb;
	}
</style>

