---
interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preload" as="font" href="/fonts/Heyam.ttf" type="font/ttf" crossorigin="anonymous">
		<link rel="preload" as="font" href="/fonts/LilitaOne-Regular.tff" type="font/ttf" crossorigin="anonymous">
		<link rel="preload" as="font" href="/fonts/Poppins-Regular.tff" type="font/ttf" crossorigin="anonymous">



		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	@font-face {
		font-family: Heyam;
		src: url('/fonts/Heyam.ttf');
		font-weight: normal;
	}

	@font-face {
		font-family: LilitaOne;
		src: url('/fonts/LilitaOne-Regular.ttf');
		font-weight: normal;
	}

	@font-face {
		font-family: Poppins;
		src: url('/fonts/Poppins-Regular.ttf');
		font-weight: normal;
	}

	.heyam-font {
		font-family: Heyam, sans-serif;
		letter-spacing: 3px;
	}

	.lilitaOne-font {
		font-family: LilitaOne, sans-serif;
	}

	.poppins-font {
		font-family: Poppins, sans-serif;
	}


  @keyframes balloonAnimation {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-80px);
    }

    100% {
      transform: translateY(0px);
    }
  }
</style>